body {
    background: #F0F0F0;
    border: none;
}
h5 {
    margin: 0;
    padding: 0;
}

/* Jumbotron */
.jumbotron {
    background: #F0F0F0;
}
#main-jumbotron {
    background-size: cover;
    background-position: center;
    background-color: #F0F0F0;
    font-family: 'Abel', sans-serif;
}
#jumbotron-container {
    justify-content: center;
    color: #111111;
    text-align: center;
}
/* End Jumbotron */

.card {
    border: none;
    background-color: #F0F0F0;
}
.imgborder{
    border: 4px solid #E6E6E6;
    border-radius: 5px;
}
.circle {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    border: 5px solid white;
    font-family: 'anton', sans-serif;
    color: white;
}

/* Codeup Icon */
.logoicon {
    width: 105px;
    height: 105px;
}
/* End Icon */

.li-align {
    margin: auto;
    list-style: none;
    align-items: center;

}

.li-alignright {
    list-style: none;

}
.smallcircle {
    height: 18px;
    width: 18px;
    border-radius: 50%;
}
/* Circles */
#button1 {
    background: #E6563B;

}
#button2 {
    background: #DEA03D;
    color: white;
}
#button3 {
    background: #7CB06C;
    color: white;
}
#button4 {
    background: #00ABA9;
    color: white;
}
/* End Circles */

/* fonts */
.anton {
    font-family: 'Anton', sans-serif;
}
.abel {
    font-family: 'Abel', sans-serif;
}
/* end fonts */

.textleft {
    text-align: left;
    text-justify: auto;
}
.textcenter {
    text-align: center;
}
.list-group-item {
    background: #F0F0F0;
    max-height: 67px;
}
.pictest {
    height: 100%;
}
.picshrink {
    height: 50%;
}
/* Twitter Icon */
#social-media-links {
    display: flex;
    justify-content: left;
}

#twitter {
    margin-right: 1em;
    transform: scale(1.25);
    color: #55acef;

}

#twitter a{
    text-decoration: none;
    color: #62b6eb;
}

#twitter:hover {
    transition: ease-in;
    transform: scale(2);
    transition-duration: .2s;
}
/* end Twitter Icon */

.margintop {
    margin-top: auto;
}

/* backgound for nav bar */
/*.shape {*/
/*    height: 10vh;*/
/*    width: 100vw;*/
/*    background-color: white;*/
/*    border-radius: 80px;*/
/*    opacity: 60%;*/
/*}*/

/*.shape3 {*/
/*    border-radius: 5px;*/
/*}*/
/* end background nav bar */


/* TESTING */

.jtBG {
    display: flex;
    flex-direction: column;
    background: white;
    align-items: center;
    margin-top: 2em;
    width: 100vw;
    height: 55px;
    justify-content: center;
    padding: 1.3em;



    /*height: 5vh;*/
}

.navBG {
    background: #f0f0f0;
    padding: 0px;
    margin: 1em 0 0 0;
    border: none;
}
.width {
    width: 100vw;
}
.inline {
    display: inline;
}
a {
    color: black;
    font-size: 1em;
    font-family: 'Abel', sans-serif;
    margin: 0;
}

/* Circles */
#button11 {
    background: #E6563B;
    color: black;
}
#button21 {
    background: #DEA03D;
    color: black;
}
#button31 {
    background: #7CB06C;
    color: black;
}
#button41 {
    background: #00ABA9;
    color: black;
}
.circle1 {
    font-size: .7em;
    padding: 0;
    margin: 0;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: none;
    font-family: 'anton', sans-serif;
}
#moveright {
    text-align: right;
}
/* End Circles */

.nopaddingleft {
    padding-left: 0;
}
.nopaddingright {
    padding-right: 0;
}

p.abel {
    font-size: .9em;

}
.margincenter {
    margin: auto;
}

#xsanchors {
    padding: 0;
}
.