
.container {
    background-color: #F0F0F0;
}

body {
    background-color: #F0F0F0;
}


.circle {
    height: 105px;
    width: 105px;
    border-radius: 50%;
    border: 6px solid white;
}

.card {
    border: none;
    background-color: #F0F0F0;

}

.smallcircle {
    height: 18px;
    width: 18px;
    border-radius: 50%;

}

#button1 {
    background: #E6563B;
    color: white;
}

#button2 {
    background: #DEA03D;
    color: white;
}

#button3 {
    background: #7CB06C;
    color: white;
}

#button4 {
    background: #00ABA9;
    color: white;
}
.anton {
    font-family: 'Anton', sans-serif;
}

.abel {
    font-family: 'Abel', sans-serif;
}

.list-group-item {
    background: #F0F0F0;
    max-height: 67px;
}

.jumbotron {
    background: #F0F0F0;
}

#main-jumbotron {
    background-size: cover;
    background-position: center;
    height: 25vh;
    font-family: Abel, sans-serif;
    background-color: #F0F0F0;
}

#jumbotron-container {
    justify-content: center;
    color: #111111;
    text-align: center;
}

.logoicon {
    height: 105px;
    width: 105px;
}

#visual\ design {
    background: #F0F0F0;
}
